.register {
  max-width: 400px;
}

form, mat-form-field {
  display: flex;
  flex-direction: column;
}

.button-row {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.button-row a {
    margin-right: 6px;
}
