<div class="home-wrapper">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <strong>Order your meal!  :)</strong>
      </mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div align='center'>
        <iframe src="https://giphy.com/embed/jKaFXbKyZFja0" width="480" height="407" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a
            href="https://giphy.com/gifs/jKaFXbKyZFja0">via GIPHY</a></p>
      </div>
    </mat-card-content>
  </mat-card>
</div>